

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }










/* START CSS STYLING */

	/* iPHONE STYLING */

.box { 
	position: absolute;
	margin:20px 0px 20px 20px;
    background-color:black; 
    width:250px; height:450px;
    border-radius:30px;
  }
  
.camera {
	position:absolute;
	background-color:white;
	width:15px; height:15px;
	border-radius:10px;
	margin:30px 0px 0px 70px;
  	}
  
.speaker {
	background-color:white;
	width:30px; height10px;
	margin:30px 0px 0px 100px;
	}
	
	/* iPhone Animation */
	
@-webkit-keyframes colorchange
{
from {background: white;}
to {background: grey;}
}
	
.screen {
	background-color:white;
	width:225px; height:300px;
	border-radius: 5px;
	margin: 65px 20px 20px 13px;
	-webkit-animation: colorchange 1s linear 1s infinite alternate;
	}
	
	/* End iPhone Animation */

.button {
	position:absolute;
	background-color:white;
	width:50px; height:50px;
	border-radius: 40px;
	margin:-10px 30px 0px 95px;
	}

.detail {
	background-color:white;
	width:20px; height: 20px;
	border-radius:5px;
	margin: 13px 0px 0px 12px;
	border: 3px solid grey;
	}
	
/* THUMB TACK STYLING */

.half-moon {
	background-color:black;
    width:100px;
    height:75px;
    margin: 20px 0px 0px 400px;
    border-radius: 0px 0px 100px 100px; 
    }
     
.handle {
	border-bottom: 150px solid black; 
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent; 
	height: 0px; width: 50px; 
	margin: -10px 0px 0px 396px;
	}
	
.base {
	background-color:black;
    width:225px;
    height:100px;
    margin: -20px 0px 0px 338px;
    border-radius: 100px 100px 0px 0px; 
    }
    
.needle {
	background-color:grey;
	width:20px; height:200px;
	margin: 0px 0px 0px 440px;
	}
	
.point {
	width: 0; height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-top: 50px solid grey; 
	margin: 0px 0px 0px 440px;
	}
	
@-webkit-keyframes move {
   0% { -webkit-transform: translate(0,0); }
   50%  { -webkit-transform: translate(0px,350px); }
   100% {  -webkit-transform: translate(0,0); }
}
	
.thumbtack {
	  -webkit-animation: move 3s linear 1s infinite alternate;
	  }	
	
/* PLUG OUTLET STYLING */

.box1 {
	margin: -525px 0px 20px 640px;
    background-color:grey;
    width:250px; height:400px;
    border-radius:10px;
    }
    
.circle1 {
	position: absolute;
    background-color:white;
    width:150px; height:125px;
    border-radius:40px 40px 40px 40px;
    margin: 50px 10px 10px 52px;
    }
    
.outlet1 {	
	width:15px; height:60px;
	background-color:black;
	margin: 40px 0px 0px 90px;
	}
	
.outlet2 {
	width:15px; height:60px;
	background-color:black;
	margin:-60px 0px 0px 40px;
	}    
    
.outlet3 {
	background-color:black;
    width:20px;
    height:15px;
    margin: -80px 0px 0px 63px;
    border-radius: 0px 0px 100px 100px;
    }
	
.circle2 {
    background-color:white;
    width:150px; height:125px;
    border-radius:40px 40px 40px 40px;
    margin: 120px 10px 10px 0px;
    }
    
.outlet4 {	
	width:15px; height:60px;
	background-color:black;
	margin: -95px 0px 0px 90px;
	}
	
.outlet5 {
	width:15px; height:60px;
	background-color:black;
	margin:-60px 0px 0px 40px;
	}    
    
.outlet6 {
	background-color:black;
    width:20px;
    height:15px;
    margin: -80px 0px 0px 63px;
    border-radius: 0px 0px 100px 100px;
    }